In [1]:
import pandas as pd

In [2]:
pd.read_csv("../data/stock_day.csv")

             open   high  close    low     volume  ...    ma20      v_ma5     v_ma10     v_ma20  turnover
2018-02-27  23.53  25.88  24.16  23.53   95578.03  ...  22.875   53782.64   46738.65   55576.11      2.39
2018-02-26  22.80  23.78  23.53  22.80   60985.11  ...  22.942   40827.52   42736.34   56007.50      1.53
2018-02-23  22.88  23.37  22.82  22.71   52914.01  ...  23.022   35119.58   41871.97   56372.85      1.32
2018-02-22  22.25  22.76  22.28  22.02   36105.01  ...  23.137   35397.58   39904.78   60149.60      0.90
2018-02-14  21.49  21.99  21.92  21.48   23331.04  ...  23.253   33590.21   42935.74   61716.11      0.58
...           ...    ...    ...    ...        ...  ...     ...        ...        ...        ...       ...
2015-03-06  13.17  14.48  14.28  13.13  179831.72  ...  13.112  115090.18  115090.18  115090.18      6.16
2015-03-05  12.88  13.45  13.16  12.87   93180.39  ...  12.820   98904.79   98904.79   98904.79      3.19
2015-03-04  12.80  12.92  12.90  12.61   67075.44  ...  12.707  100812.93  100812.93  100812.93      2.30
2015-03-03  12.52  13.06  12.70  12.52  139071.61  ...  12.610  117681.67  117681.67  117681.67      4.76
2015-03-02  12.25  12.67  12.52  12.20   96291.73  ...  12.520   96291.73   96291.73   96291.73      3.30

[643 rows x 14 columns]